@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark {
  @media not print {
    @media (prefers-color-scheme: dark) {
      &:not(:is([data-theme='light'] *)) {
        @slot;
      }
    }

    &:is([data-theme='dark'] *) {
      @slot;
    }
  }
}

@theme {
  --color-background: light-dark(oklch(1 0 0), oklch(0.12 0.01 262.51));
  --color-foreground: light-dark(
    oklch(0.19 0.02 263.85),
    oklch(0.94 0.01 264.51)
  );
  --color-card: light-dark(oklch(0.98 0 271.37), oklch(0.19 0.02 263.85));
  --color-card-foreground: light-dark(
    oklch(0.19 0.02 263.85),
    oklch(0.94 0.01 264.51)
  );
  --color-popover: light-dark(oklch(1 0 0), oklch(0.19 0.02 263.85));
  --color-popover-foreground: light-dark(
    oklch(0.19 0.02 263.85),
    oklch(0.94 0.01 264.51)
  );
  --color-primary: light-dark(oklch(0.49 0.25 265.26), oklch(0.77 0.11 265.15));
  --color-primary-foreground: light-dark(oklch(1 0 0), oklch(0.12 0.07 264));
  --color-secondary: light-dark(
    oklch(0.94 0.01 264.51),
    oklch(0.3 0.04 264.69)
  );
  --color-secondary-foreground: light-dark(
    oklch(0.3 0.04 264.69),
    oklch(0.86 0.03 264.42)
  );
  --color-muted: light-dark(oklch(0.77 0.04 264.28), oklch(0.39 0.05 265.17));
  --color-muted-foreground: light-dark(
    oklch(0.49 0.06 263.86),
    oklch(0.68 0.06 265.69)
  );
  --color-accent: light-dark(oklch(0.94 0.01 264.51), oklch(0.3 0.04 264.69));
  --color-accent-foreground: light-dark(
    oklch(0.19 0.02 263.85),
    oklch(0.94 0.01 264.51)
  );
  --color-destructive: light-dark(
    oklch(0.59 0.23 25.26),
    oklch(0.77 0.13 25.59)
  );
  --color-destructive-foreground: light-dark(
    oklch(1 0 0),
    oklch(0.12 0.05 21.54)
  );
  --color-border: light-dark(oklch(0.86 0.03 264.42), oklch(0.3 0.04 264.69));
  --color-input: light-dark(oklch(0.86 0.03 264.42), oklch(0.3 0.04 264.69));
  --color-ring: light-dark(oklch(0.49 0.25 265.26), oklch(0.77 0.11 265.15));

  --spacing-em: 1em;

  --radius-sm: calc(var(--radius-lg) - 4px);
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-lg: 0.5rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 96rem) {
    max-width: 1400px;
  }
}

:root {
  color-scheme: light dark;
}

[data-theme='light'] {
  color-scheme: light;
}

[data-theme='dark'] {
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    -webkit-tap-highlight-color: oklch(0 0 0 / 0);
  }
  html,
  body {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary/30 selection:text-inherit;
  }

  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
